KAFKA_TOPIC=your_kafka_topic
KAFKA_BROKER=your_kafka_broker
SCHEMA_REGISTRY_URL=your_schema_registry_url
OPENWEATHER_API_URL=your_openweather_api_url
OPENWEATHER_API_KEY=your_openweather_api_key
OPENWEATHER_DEST_COORDS='[{"name": "a", "lat": 0, "lon": 0}]'
POSTGRES_HOST=your_postgres_host
POSTGRES_PORT=your_postgres_port
POSTGRES_DB=your_postgres_db
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
SPARK_SHARED_DATA_PATH=your_spark_shared_data_path
